{% capture listItems %}
{% for item in collections[settings.collection_special_needs].products limit: settings.collection_special_needs_limit %}
<div role="listitem" class="card-container w-dyn-item">
                    <div>
                      <a href="{{ item.url | within: collection }}" class="link-to-block w-inline-block">
                        <div class="product-card-content" style="background-image: url('{{item.featured_image | img_url: 'master'}}')" data-commerce-type="variation-image"></div>
                        <div class="product-price-tag">
                          <h5 class="product-name">{{ item.title }}</h5>
                          <h6 data-commerce-type="variation-price" class="price-on-product">{{ item.price | money }}</h6>
                        </div>
                      </a>
                    </div>
                  </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="w-dyn-list" udy-collection="product">
                {%- unless items_length == 0 -%}<div role="list" class="main-cards-box w-dyn-items">
                  {{ listItems }}
                </div>{%- endunless -%}
                {%- if items_length == 0 -%}<div class="w-dyn-empty">
                  <div>No items found.</div>
                </div>{%- endif -%}
              </div>