{% if request.page_type == "blog" %}
<script>document.documentElement.dataset.wfPage = "61702d2b859f5454242d070f";</script>
{% endif %}

<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="container navbar">
        <a href="{{ routes.root_url }}" aria-current="page" class="home-link w-nav-brand w--current"><img src="{{ 'buddalife-logo-white-text.png' | asset_url }}" width="220" alt="" class="navbar-logo"></a>
        <div class="navbar-right">
          <button class="search-button-navbar" style="color: #fff;"><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512"  xml:space="preserve">
<style type="text/css">	.st0{fill: currentColor;}</style>
<path class="st0" d="M501.6,480.5L380.1,359c33.8-38.7,52.4-88.4,52.3-139.8C432.5,101.5,336.8,6,219.2,6S6,101.7,6,219.2
	s95.7,213.2,213.2,213.2c51.4,0.1,101.1-18.5,139.8-52.3l121.5,121.5c2.8,2.8,6.6,4.4,10.5,4.4c4,0,7.8-1.6,10.5-4.4
	C507.4,495.7,507.4,486.4,501.6,480.5z M35.8,219.2c0-101.1,82.3-183.3,183.3-183.3s183.3,82.3,183.3,183.3s-82.2,183.4-183.3,183.4
	S35.8,320.3,35.8,219.2z"/>
</svg></button>
          <script>
            const searchButton = document.querySelector('.search-button-navbar');
            searchButton.addEventListener('click', function(e) {
                if (document.querySelector('.nav-menu').style.getPropertyValue('transform').includes('translate3d(100%')) {
                   document.querySelector('.hamburger').click(); 
                  
                  requestAnimationFrame(() => {
                         document.querySelector('input[type="search"]').focus();               
                   });
                }
            });
          </script>
          
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper" udy-collection="cart">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block"><svg class="w-commerce-commercecartopenlinkicon" width="17px" height="17px" viewBox="0 0 17 17">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
                </g>
              </svg>
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header">
                  <h4 class="w-commerce-commercecartheading">{{ 'tn77ee8913' | t }}</h4>
                  <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform default-state">
                    <script type="text/x-wf-template" id="wf-template-24784c5d-d479-25fd-fae8-614ac1fd92b4"><div data-node-type="cart-item" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92b5" class="w-commerce-commercecartitem"><img data-node-type="cart-item-image" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92b6" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92b7" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92b8" class="w-commerce-commercecartproductname"><%= it.title %></div><div template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92b9"><%= it.price %></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92bc"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92bf"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" template-part-bind="24784c5d-d479-25fd-fae8-614ac1fd92c0" data-product-id="<%= it.id %>"><div>Remove</div></a></div><input class="w-commerce-commercecartquantity text-field" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-24784c5d-d479-25fd-fae8-614ac1fd92b4"></div>
                    <div class="w-commerce-commercecartfooter">
                      <div class="w-commerce-commercecartlineitem">
                        <div>{{ 'tn76f396dc' | t }}</div>
                        <div class="w-commerce-commercecartordervalue">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                      <div>
                        <div data-node-type="commerce-cart-quick-checkout-actions">{{ content_for_additional_checkout_buttons }}</div>
                        <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button" data-loading-text="Hang Tight...">{{ 'tn7941186e' | t }}</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate empty-state">
                    <div>{{ 'tn68fb4b0f' | t }}</div>
                    <a href="#" class="button w-button">{{ 'tn10d26d54' | t }}</a>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">{{ 'tn1c765d0d' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="924e2aef-0920-0dc1-661e-7301431ac23c" class="hamburger">
            <div class="hamburger-line top"></div>
            <div class="hamburger-line middle"></div>
            <div class="hamburger-line bottom"></div>
          </div>
        </div>
      </div>
      <div class="nav-menu">
        <form action="/search" class="search-3 w-form" method="get" role="search"><label for="search" class="field-label-3">{{ 'tn6ca0ae38' | t }}</label><input type="search" class="search-input-2 w-input" maxlength="256" name="q" placeholder="Search…" id="search-2" required=""><input type="submit" value="Search" class="button search w-button"></form>
        <div class="menu-section-wrap top">
          <h4 class="menu-section-title">{{ 'tn10d26d54' | t }}</h4>
          {%- for link in linklists["shop-now"].links -%}<a href="{{ link.url }}" class="nav-menu-link">{{ link.title }}</a>{%- endfor -%}{%- render 'menu-error', menu: "shop-now" -%}
        </div>
        <div class="menu-section-wrap">
          <h4 class="menu-section-title">{{ 'tn5a2858f' | t }}</h4>
          {%- for link in linklists["learn-about"].links -%}<a href="{{ link.url }}" class="nav-menu-link">{{ link.title }}</a>{%- endfor -%}{%- render 'menu-error', menu: "learn-about" -%}
        </div>
        <div class="menu-section-wrap">
          <h4 class="menu-section-title">{{ 't224361' | t }}</h4>
          {%- for link in linklists["help"].links -%}<a href="{{ link.url }}" class="nav-menu-link">{{ link.title }}</a>{%- endfor -%}{%- render 'menu-error', menu: "help" -%}
        </div>
        <div class="menu-section-wrap">
          <h4 class="menu-section-title">{{ 'tn64202ba3' | t }}</h4>
          {%- for link in linklists["company"].links -%}<a href="{{ link.url }}" class="nav-menu-link">{{ link.title }}</a>{%- endfor -%}{%- render 'menu-error', menu: "company" -%}
        </div>
      </div>
    </div>

<script>
            const navbar = document.querySelector('[data-node-type="commerce-cart-open-link"]');
            window.addEventListener('scroll', () => {
                                   
              
                       searchButton.style.color = navbar.style.backgroundColor;    
                                    
                                    if (window.scrollY < 20) {
              searchButton.style.color = "#fff";
            }
            
             });
          </script>