{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "61702d2b859f5457122d070e" -%}{%- assign bodyClasses = "body" -%}
  {%- render 'navbar' -%}
  <div class="section about wf-section">
    <div class="container side-by-side">
      <div class="_45-percent-width-wrap">
        <div class="image-wrap">
          <div class="image about-hero"></div>
        </div>
      </div>
      <div class="about-us">
        <h1 class="heading">{{ 'tn1ce25a12' | t }}</h1>
        <h4>{{ 'about-sub-heading' | t }}</h4>
        <div class="w-richtext">{{ 'about-mission' | t }}</div>
        <a href="#Join-Community" class="button w-button">{{ 'tdf13554' | t }}</a>
      </div>
    </div>
    <div class="absolute-side-background large-left about"></div>
    <div class="right-square">
      <div class="large-square about"></div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container flex-centered-container">
      <h2 class="align-center">{{ 'about-why' | t }}</h2>
      <p class="align-center max-800px">{{ 'about-1' | t }}</p>
      <p class="align-center max-800px">{{ 'about-2' | t }}</p>
      <p class="align-center max-800px">{{ 'about-3' | t }}</p>
      <p class="align-center max-800px">{{ 'about-4' | t }}</p>
      <a href="#Join-Community" class="button w-button">{{ 'tdf13554' | t }}</a>
    </div>  
  </div>
  <div class="section wf-section">
    <div class="container flex-centered-container">
      <h2 class="align-center">{{ 'about-promise' | t }}</h2>
      <p class="align-center max-800px">{{ 'about-promise-1' | t }}</p>
      <p class="align-center max-800px">{{ 'about-promise-2' | t }}</p>
      <p class="align-center max-800px">{{ 'about-promise-3' | t }}</p>
      <a href="#Join-Community" class="button w-button">{{ 'tdf13554' | t }}</a>
    </div>  
  </div>
  <div class="section wf-section">
    <div class="container flex-centered-container">
      <h2 class="align-center">{{ 'about-culture' | t }}</h2>
      <p class="align-center max-800px">{{ 'about-culture-1' | t }}</p>
      <p class="align-center max-800px">{{ 'about-culture-2' | t }}</p>
      <p class="align-center max-800px">{{ 'about-culture-3' | t }}</p>
      <a href="#Join-Community" class="button w-button">{{ 'tdf13554' | t }}</a>
    </div>  
    <div class="right-square about-2">
      <div class="large-square about _2"></div>
    </div>
  </div>
  <div class="section full-white-bg wf-section">
    <div class="container">
      <div class="title-wrap align-with-content">
        <h2 class="title">{{ 'tn583c292a' | t }}<span class="e2a57b">{{ 't771411ec' | t }}</span><span class="e2a57b"></span></h2>
      </div>
      <div class="partner-logos-contain">
        <a href="#" class="partner-logo w-inline-block"><img src="{{ 'buddalife-logo-green.png' | asset_url }}" width="200" sizes="(max-width: 767px) 38vw, (max-width: 991px) 18vw, (max-width: 1919px) 13vw, 200px" srcset="{{ 'buddalife-logo-green-p-500.png' | asset_url }} 500w, {{ 'buddalife-logo-green-p-800.png' | asset_url }} 800w, {{ 'buddalife-logo-green-p-1080.png' | asset_url }} 1080w, {{ 'buddalife-logo-green-p-1600.png' | asset_url }} 1600w, {{ 'buddalife-logo-green-p-2000.png' | asset_url }} 2000w, {{ 'buddalife-logo-green-p-2600.png' | asset_url }} 2600w, {{ 'buddalife-logo-green.png' | asset_url }} 2953w" alt="Buddalife logo"></a>
        <a href="#" class="partner-logo w-inline-block"><img src="{{ 'buddababy-logo-green.png' | asset_url }}" width="200" sizes="(max-width: 767px) 38vw, (max-width: 991px) 18vw, (max-width: 1919px) 13vw, 200px" srcset="{{ 'buddababy-logo-green-p-500.png' | asset_url }} 500w, {{ 'buddababy-logo-green-p-800.png' | asset_url }} 800w, {{ 'buddababy-logo-green-p-1080.png' | asset_url }} 1080w, {{ 'buddababy-logo-green-p-1600.png' | asset_url }} 1600w, {{ 'buddababy-logo-green-p-2000.png' | asset_url }} 2000w, {{ 'buddababy-logo-green-p-2600.png' | asset_url }} 2600w, {{ 'buddababy-logo-green.png' | asset_url }} 2953w" alt="Buddababy logo"></a>
        <a href="#" class="partner-logo w-inline-block"><img src="https://uploads-ssl.webflow.com/614377de69c8ed066c4803e7/6156d5fda8ebbd24b57544b6_buddahealth-logo-green.png" width="200" alt="Buddahealth logo"></a>
        <a href="#" class="partner-logo w-inline-block"><img src="{{ 'buddapet-logo-green.png' | asset_url }}" width="200" sizes="(max-width: 767px) 38vw, (max-width: 991px) 18vw, (max-width: 1919px) 13vw, 200px" srcset="{{ 'buddapet-logo-green-p-500.png' | asset_url }} 500w, {{ 'buddapet-logo-green-p-800.png' | asset_url }} 800w, {{ 'buddapet-logo-green-p-1080.png' | asset_url }} 1080w, {{ 'buddapet-logo-green-p-1600.png' | asset_url }} 1600w, {{ 'buddapet-logo-green-p-2000.png' | asset_url }} 2000w, {{ 'buddapet-logo-green-p-2600.png' | asset_url }} 2600w, {{ 'buddapet-logo-green.png' | asset_url }} 2953w" alt="Buddapet logo"></a>
        <a href="#" class="partner-logo w-inline-block"><img src="{{ 'buddabeauty-logo-green.png' | asset_url }}" width="200" sizes="(max-width: 767px) 38vw, (max-width: 991px) 18vw, (max-width: 1919px) 13vw, 200px" srcset="{{ 'buddabeauty-logo-green-p-500.png' | asset_url }} 500w, {{ 'buddabeauty-logo-green-p-800.png' | asset_url }} 800w, {{ 'buddabeauty-logo-green-p-1080.png' | asset_url }} 1080w, {{ 'buddabeauty-logo-green-p-1600.png' | asset_url }} 1600w, {{ 'buddabeauty-logo-green-p-2000.png' | asset_url }} 2000w, {{ 'buddabeauty-logo-green-p-2600.png' | asset_url }} 2600w, {{ 'buddabeauty-logo-green.png' | asset_url }} 3208w" alt="Buddabeauty logo"></a>
      </div>
    </div>
  </div>
  {%- section 'join-cta' -%}
  {%- section 'shop-cta' -%}
  {%- render 'recent-articles' -%}
  {%- section 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61702d2b859f5470f02d0707" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}