{%- assign headerSnippetPath = "header-product" -%}{%- assign wfPage = "61702d2b859f5420d52d0729" -%}{%- assign bodyClasses = "" -%}
  <div class="section product-section wf-section">
    <div class="container">
      <div class="products-contain product-template">
        <div class="product">
          <div class="product-image-and-title">
            <div class="product-image" data-commerce-type="variation-image">
              <img src='{{product.featured_image | img_url: 'master'}}'>
            </div>
          </div>
          <div class="product-description">
            <h2 class="product-heading">{{ product.title }}</h2>
            <div data-commerce-type="variation-price" class="product-price">{{ product.price | money }}</div>
            <p class="paragraph-4">{{ product.description }}</p>
            <div>
              <div class="mws-options"></div>
              {%- form "product", product, data-node-type: "commerce-add-to-cart-form", class: "w-commerce-commerceaddtocartform add-to-cart-content" -%}{%- unless product.has_only_default_variant or product.variants.size == 1 -%}<fieldset data-node-type="add-to-cart-option-list" position-id="a02165ad-476e-5680-2f8c-4d4b72a025a3">{%- for option in product.options_with_values -%}<fieldset data-node-type="add-to-cart-option" style="{% if product.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"><label data-node-type="add-to-cart-option-label">{{ option.name }}</label><select data-node-type="add-to-cart-option-select" class="w-select" name="{{ "option" | append: forloop.index }}">{%- render "product-options", option: option -%}</select></fieldset>{%- endfor -%}</fieldset></fieldset>{%- endunless -%}
              
              	<div position-id="82dc8542-8a7f-95b5-61c5-78e7ed61f55d" class="quantity-wrapper"><label for="quantity-0ed4b47c6d69b4a5d1431b41b8892220" class="field-label">{{ 'tn48bd3755' | t }}</label><input type="number" pattern="^[0-9]+$" inputmode="numeric" id="quantity-0ed4b47c6d69b4a5d1431b41b8892220" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput text-field product-quantity" value="1"></div>
                <div position-id="a662fcdb-2dc1-5e66-b188-32f5889f0879" class="add-to-cart-buttons"><input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." value="Add to Cart" class="w-commerce-commerceaddtocartbutton button add-to-cart-btn">
                  <a href="/checkout" data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" class="w-commerce-commercebuynowbutton button buy-now-button">{{ 't71bb9a1c' | t }}</a>
                </div>
              {%- render "product-variants-data" product: product -%}{%- endform -%}
              <div style="display:none" class="w-commerce-commerceaddtocartoutofstock">
                <div>{{ 't7aaa2dac' | t }}</div>
              </div>
              <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">{{ 'tn1c765d0d' | t }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-info product-page">
          <div class="product-info-contain">
            <div data-duration-in="300" data-duration-out="100" data-current="Ingredients" data-easing="ease" class="product-info-tabs w-tabs">
              <div class="product-info w-tab-menu">
                <a data-w-tab="Ingredients" class="product-info-tab w-inline-block w-tab-link w--current">
                  <h4 class="product-info-heading">{{ 'tn19fa8f5e' | t }}</h4>
                </a>
                <a data-w-tab="Video" class="product-info-tab w-inline-block w-tab-link">
                  <h4 class="product-info-heading">{{ 't3db38daa' | t }}</h4>
                </a>
                <a data-w-tab="Benefits" class="product-info-tab w-inline-block w-tab-link">
                  <h4 class="product-info-heading">{{ 't685742dc' | t }}</h4>
                </a>
                <a data-w-tab="How to Use" class="product-info-tab w-inline-block w-tab-link">
                  <h4 class="product-info-heading">{{ 'tn4f1a97ce' | t }}</h4>
                </a>
              </div>
              <div class="products-tabs-content w-tab-content">
                <div data-w-tab="Ingredients" class="tab-pane-ingredients w-tab-pane w--tab-active">
                  <div class="w-richtext">{{ product.metafields.udesly['rich-text'] }}</div>
                </div>
                <div data-w-tab="Video" class="tab-pane-video w-tab-pane">
                  <div class="w-richtext">{{ product.metafields.udesly['video'] }}</div>
                </div>
                <div data-w-tab="Benefits" class="tab-pane-benefits w-tab-pane">
                  <div class="w-richtext">{{ product.metafields.udesly['benefits'] }}</div>
                </div>
                <div data-w-tab="How to Use" class="tab-pane-how-to-use w-tab-pane">
                  <div class="w-richtext">{{ product.metafields.udesly['how-to-use'] }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-square">
      <div class="large-square shop"></div>
      <div class="w-layout-grid dots-grid shop">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  {%- render 'navbar' -%}
  <div class="section more-products wf-section">
    <div class="container">
      <div class="title-wrap">
        <h2 class="title">{{ 't4713f4b' | t }}<span class="e2a57b">{{ 'tn37f9ca7c' | t }}</span></h2>
      </div>
      {%- if settings.collection_products_template != blank -%}{%- render "markup_for_collection_products_template" -%}{%- else -%}{%- render "products_max_3_where_category_idin_currentcategory_where__id_ne_current" -%}{%- endif -%}
    </div>
  </div>
  {%- section 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61702d2b859f5470f02d0707" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}